USE [master]
GO
/****** Object:  Database [ResearchGate]    Script Date: 19/04/2022 0:01:36 ******/
CREATE DATABASE [ResearchGate]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ResearchGate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ResearchGate]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 19/04/2022 0:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProfileImage] [varbinary](max) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[University] [varchar](50) NOT NULL,
	[Department] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Mobile] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors_Papers]    Script Date: 19/04/2022 0:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors_Papers](
	[AuthorID] [int] NOT NULL,
	[PaperID] [int] NOT NULL,
 CONSTRAINT [PK_Authors_Papers] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC,
	[PaperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 19/04/2022 0:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[PaperID] [int] NOT NULL,
	[Comment] [varchar](max) NOT NULL
 CONSTRAINT [PK_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paper]    Script Date: 19/04/2022 0:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paper](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[PaperFile] [varbinary](max) NOT NULL,
	[PublichYear] [int] NOT NULL,
	[Category] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Paper] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reactions]    Script Date: 19/04/2022 0:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reactions](
	[AuthorID] [int] NOT NULL,
	[PaperID] [int] NOT NULL,
	[ReactionType] [bit] NOT NULL,
 CONSTRAINT [PK_Reactions_Authors] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC,
	[PaperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Authors_Papers]  WITH CHECK ADD  CONSTRAINT [FK__Authors_P__Autho__2C3393D0] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Authors_Papers] CHECK CONSTRAINT [FK__Authors_P__Autho__2C3393D0]
GO
ALTER TABLE [dbo].[Authors_Papers]  WITH CHECK ADD  CONSTRAINT [FK__Authors_P__Paper__2D27B809] FOREIGN KEY([PaperID])
REFERENCES [dbo].[Paper] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Authors_Papers] CHECK CONSTRAINT [FK__Authors_P__Paper__2D27B809]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_AuthorID] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_AuthorID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_PaperID] FOREIGN KEY([PaperID])
REFERENCES [dbo].[Paper] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_PaperID]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK__Reactions__Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK__Reactions__Author]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK__Reactions__Paper] FOREIGN KEY([PaperID])
REFERENCES [dbo].[Paper] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK__Reactions__Paper]
GO
USE [master]
GO
