<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="~/IndexAssets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Loading main css file -->
    <link rel="stylesheet" href="~/IndexAssets/style.css">
    <script src="~/IndexAssets/js/jquery-1.11.1.min.js"></script>
    <script src="~/IndexAssets/js/plugins.js"></script>


</head>
<body>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget">
                        <h3 class="footer-title">Our address</h3>
                        <strong>ResearchGate INC</strong>
                        <address>592 Avenue Street, Los Angeles, CA 90012</address>
                        <a href="tel:+1 800 931 812">+1 800 931 812</a> <br>
                        <a href="mailto:office@companyname.com">office@ResearchGate.com</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget">
                        <h3 class="footer-title">Social media</h3>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- .row -->
            <p class="colophon">copyright 2022 ResearchGate . All rights reserved</p>
        </div> <!-- .container -->
    </footer>
    <style>
        .footer-title {
            font-family: Nexa;
            color: Black;
            font-weight: 500;
            font-size: 20px;
        }
    </style>
    </body>
</html>
